a {
  margin-left: 150px;
  margin-right: 150px;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;;
}

a:link, :visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: black;
}

ul > li {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
  padding: 10px 0;
  text-decoration: none;
}

li:link, :visited {
  color: black;
}
li:hover {
  color: red;
}
li:active {
  color: darkgreen;
}

.dl {
  border-top: 3px double gray;
  border-bottom: 3px double gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
.next {
  display: flex; justify-content: space-between;
}

 /* 컨테이너 */
.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: 
  "header header header header"
  "nav nav nav nav"
  "aside main main main"
  "footer footer footer footer";
  gap: 10px;
}

/* 헤더 */
.header {
  grid-area: header;
  /* border: 2px solid purple;  */
  grid-row-start: 1;
  grid-row-end: 3;
  
  grid-column-start: 1;
  grid-column-end: 5;  
}

/* 네비게이션 바 */
.nav {
  grid-area: nav;
  /* border: 2px solid hotpink;  */
  grid-row-start: 3;
  grid-row-end: 4;
  
  grid-column-start: 1;
  grid-column-end: 5;  
}

/* 내용 */
.main {
  grid-area: main;
  /* border: 2px solid red;  */
  grid-row-start: 4;
  grid-row-end: 70;
  
  grid-column-start: 2;
  grid-column-end: 5; 
  margin-right: 100px; 
}

/* 로고 */
.logo {
  /* border: 2px solid blue;  */
  grid-row-start: 1;
  grid-row-end: 3;
  
  grid-column-start: 1;
  grid-column-end: 2;  
}

/* 어사이드 */
.aside{
  grid-area: a;
  /* border: 2px solid green;  */
  grid-row-start: 4;
  grid-row-end: 70;
  
  grid-column-start: 1;
  grid-column-end: 2;
  margin-right: 100px;  
}


/* 푸터 */
.footer {
  grid-area: footer;
  /* border: 2px solid brown;  */
  grid-row-start: 70;
  grid-row-end: 80;
  
  grid-column-start: 1;
  grid-column-end: 5;  
}